{% extends 'home.html' %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8"><h2 style="color: red;" >DELETE '<span style="color: black; font-weight: bold; font-style: italic;">{{ word.swahili_word }}</span>'?</h2> </div>
        
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <form method="POST" action="">
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn-danger" type="submit" value="DELETE">
                <a class="btn btn-warning" href="{% url 'edit' %}">Don't delete </a>
                 </form> 
        </div>
    </div>
</div>

{% endblock content %}
