    {% extends 'home.html' %}
    {% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-7"><h2>ENGLISH - SWAHILI 
            {% if btntofilter %}
            <a class="btn btn-sm btn-primary" style="margin-left: 30px; margin-top: -7px" href="{% url 'etssort' %}">sort?</a></h2></div>
            {% endif %}
   
        </div>
    </div>
</div> 

{% include 'filter.html' %}

  {% for voc in voc %}

  <div class="container" style="width: 850px; display: flex;">
    <div class="row justify-content-center my-1" style="width: 800px; background-color: rgb(58, 53,53); border-radius: 8px;">
        <div class="fw-bold col px-5" style="color: white; font-size: 20px; height: 40px;">{{ voc.swahili_word }}</div>
        <div class="col"  style="font-size: 20px; font-style: italic; color: white;">{{ voc.english_translation }}</div>
        <div class="col-1" style="font-size: 15px; margin-top: 5px; "><span style="color: rgb(196, 196, 196); ">L{{ voc.lesson }}</span></div>
    </div>
    <div style="margin-left: 20px;display: flex;">
        <a style="font-size: 30px; border-radius: 8px; text-decoration: none; color: rgb(180, 180, 230); " href="">&#9998;</a>
        <span style="margin-left: 20px;"><a style="font-size: 30px; border-radius: 8px; text-decoration: none; color: rgb(180, 180, 230)" href="">X</a></span>
    </div>
  </div>
  

{% endfor %}
{% endblock content %}
