<div class="row">
    <div class="col-4"></div>
    <div class="col-7" ><h6>

        <form >
            {% if display %}
                {{filter.form.as_p}}
                <input class="btn btn-primary" type="submit" value="Filter">
                {% if filterpage == 'ste' %}
                    <a class="btn btn-warning" style="margin-left: 120px;" href="{% url 'ste' %}">Don't filter </a>
                {% elif filterpage == 'ets' %}
                    <a class="btn btn-warning" style="margin-left: 120px;" href="{% url 'ets' %}">Don't filter </a>
                {% else %}
                    <a class="btn btn-warning" style="margin-left: 120px;" href="{% url 'edit' %}">Don't filter </a>
                {% endif %}
            {% endif %}
                </h6> 
        </form>
    </div>
</div>