    {% extends 'home.html' %}
    {% block content %}
<br>
   <h1>SWAHILI to ENGLISH</h1> 

  {% for voc in voc %}
<ul class="list-group mx-auto" style="width: 450px;">
    <li class="list-group-item d-flex justify-content-center">
      <div class="ms-2">
        <div class="fw-bold">{{ voc.swahili_word }}</div>
        <span>{{ voc.english_translation }}</span>
      </div>
      <span class="badge bg-primary rounded-pill">Lesson {{ voc.lesson }}</span>
    </li>
</ul>
{% endfor %}
{% endblock content %}
